# OS
.DS_Store
Thumbs.db

# Node
node_modules/
dist/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Docker
mongodb_data/

# Backend specific
backend/src/uploads/*
!backend/src/uploads/.gitkeep
backend/src/config/firebase-service-account.json

# Local env files
*.log
